<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.1">
    <servlet>
        <servlet-name>TimeServlet</servlet-name>
        <servlet-class>com.example.TimeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TimeServlet</servlet-name>
        <url-pattern>/time</url-pattern>
    </servlet-mapping>
</web-app>
